@charset "UTF-8";
.p-home {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  /* トップ */
  .p-home {
    width: 100%;
    padding-bottom: 2%;
    background-image: url(../image/pf_top_img1.jpg);
    background-size: cover;
    font-family: "Bebas Neue", cursive;
    /* プロフィール */
  }
  .p-home__header {
    padding: 3% 3%;
  }
  .p-home__header__nav {
    display: flex;
    justify-content: flex-end;
  }
  .p-home__header__nav__item {
    margin: 10px;
  }
  .p-home__header__nav a {
    color: #414040;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
  }
  .p-home__header__main {
    width: 100%;
    margin: 20px auto;
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
    background-image: url(../image/pf_top_img2.png);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .p-home__header__title {
    padding: 20px;
    text-align: center;
  }
  .p-home__profile {
    margin: 5%;
  }
  .p-home__profile__image {
    text-align: center;
  }
  .p-home__profile__text {
    color: #504e4e;
    font-family: "游ゴシック体", "YuGothic";
    font-size: 0.5rem;
    line-height: 2;
  }
  .p-home__profile__image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }
  /* サービス */
  #p-home-service__title {
    padding-top: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 1.75rem;
    color: #414040;
    letter-spacing: 0.1em;
    line-height: 1.7;
    display: block;
  }
  .p-home-service {
    padding: 5% 3%;
    text-align: center;
    background: #b3b3b3;
  }
  .p-home-service__list {
    width: 100%;
    margin: 0 auto;
    list-style: none;
  }
  .p-home-service__item {
    width: auto;
    margin: 8px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
  }
  .p-home-service__item-iconWrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f89df8;
    display: inline-block;
  }
  .p-home-service__item-icon {
    margin-top: 20%;
    font-size: 1.75em;
    color: #fff;
    text-align: center;
  }
  .p-home-service__item-contTxt {
    margin-top: 10px;
    text-align: left;
    font-family: "游ゴシック体", "YuGothic";
    font-size: 0.5rem;
    color: #504e4e;
    letter-spacing: 0.1em;
    line-height: 1.7;
  }
  .p-home-service__item-contTitle {
    margin: 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    color: #f89df8;
    letter-spacing: 0.1em;
    line-height: 1.7;
  }
  /*ワークス */
  #p-home-works__title {
    font-family: "Bebas Neue", cursive;
    font-size: 1.75rem;
    color: #414040;
    line-height: 1.7;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .p-home-works {
    padding: 8% 0;
    background: #b689b0;
  }
  .p-home-works__list {
    width: 100%;
    margin-top: 5vw;
    list-style: none;
  }
  .p-home-works__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  /* コンタクト */
  #p-home-contact__title {
    margin: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 1.75rem;
    color: #414040;
    line-height: 1.7;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .p-home-contact {
    padding: 5% 10%;
  }
  .p-home-contact__coment {
    font-family: "游ゴシック体", "YuGothic";
    font-size: 0.5rem;
    color: #504e4e;
    line-height: 2;
    text-align: center;
  }
  .p-home-contact__list {
    margin: 30px auto;
    display: flex;
    list-style: none;
    justify-content: center;
    text-decoration: none;
  }
  .p-home-contact__item {
    width: 50px;
    background: #fff;
    text-align: center;
  }
  .p-home-contact__item a {
    color: #fff;
    text-decoration: none;
  }
  .p-home-contact__item-iconWrap {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f89df8;
    display: inline-block;
  }
  .p-home-contact__item-icon {
    margin-top: 20%;
    font-size: 0.75em;
    text-align: center;
  }
  /* フッター */
  .p-footer {
    width: 100%;
    height: 25px;
    background: #504e4e;
    text-align: center;
  }
  .p-footer__txt {
    font-family: "游ゴシック体", "YuGothic";
    font-size: 0.01rem;
    color: #fff;
    line-height: 25px;
    letter-spacing: 0.5em;
  }
}

@media screen and (min-width: 1024px) {
  /* トップ */
  .p-home {
    width: 100%;
    padding-bottom: 2%;
    background-image: url(../image/pf_top_img1.jpg);
    background-size: cover;
    font-family: "Bebas Neue", cursive;
  }
  .p-home__header {
    padding: 3% 3%;
  }
  .p-home__header__nav {
    display: flex;
    justify-content: flex-end;
  }
  .p-home__header__nav__item {
    margin: 10px;
  }
  .p-home__header__nav a {
    color: #414040;
    font-size: 1.75rem;
    text-decoration: none;
    list-style: none;
  }
  .p-home__header__main {
    width: 100%;
    margin: 20px auto;
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
    letter-spacing: 5px;
    background-image: url(../image/pf_top_img2.png);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .p-home__header__title {
    padding: 20px;
    text-align: center;
  }
  /* プロフィール */
  .p-home__profile {
    margin: 10%;
    display: flex;
    justify-content: center;
  }
  .p-home__profile__image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-right: 100px;
  }
  .p-home__profile__text {
    margin-right: 50px;
    color: #504e4e;
    font-family: "游ゴシック体", "YuGothic";
    font-size: 1.25rem;
    line-height: 2;
  }
  /* サービス */
  #p-home-service__title {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75rem;
    color: #414040;
    letter-spacing: 0.1em;
    line-height: 1.7;
  }
  .p-home-service {
    padding: 5% 10%;
    text-align: center;
    background: #b3b3b3;
    /*アニメーション要素までスクロールした時のスタイル*/
  }
  .p-home-service__list {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .p-home-service__item {
    width: 350px;
    margin: 50px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
  }
  .p-home-service .p-home-service__item {
    opacity: 0;
    visibility: hidden;
    transition: 2000ms;
    transform: translateY(30px);
  }
  .p-home-service .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .p-home-service__item-iconWrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f89df8;
    display: inline-block;
  }
  .p-home-service__item-icon {
    margin-top: 20%;
    font-size: 2.75em;
    color: #fff;
    text-align: center;
  }
  .p-home-service__item-contTxt {
    margin-top: 10px;
    text-align: left;
    font-family: "游ゴシック体", "YuGothic";
    color: #504e4e;
    letter-spacing: 0.1em;
    line-height: 1.7;
  }
  .p-home-service__item-contTitle {
    margin: 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.7rem;
    color: #f89df8;
    letter-spacing: 0.1em;
    line-height: 1.7;
  }
  /*ワークス */
  #p-home-works__title {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75rem;
    color: #414040;
    line-height: 1.7;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .p-home-works {
    padding: 5% 0;
    background: #b689b0;
  }
  .p-home-works__list {
    width: 100%;
    margin-top: 5vw;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    list-style: none;
  }
  .p-home-works__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  .p-home-works__item__after {
    display: none;
  }
  /* コンタクト */
  #p-home-contact__title {
    margin: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 3.75rem;
    color: #414040;
    line-height: 1.7;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .p-home-contact {
    padding: 5% 10%;
  }
  .p-home-contact__coment {
    font-family: "游ゴシック体", "YuGothic";
    font-size: 1.25rem;
    color: #504e4e;
    line-height: 2;
    text-align: center;
  }
  .p-home-contact__list {
    margin: 80px auto;
    display: flex;
    list-style: none;
    justify-content: center;
    text-decoration: none;
  }
  .p-home-contact__item {
    width: 80px;
    background: #fff;
    text-align: center;
  }
  .p-home-contact__item a {
    color: #fff;
    text-decoration: none;
  }
  .p-home-contact__item-iconWrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f89df8;
    display: inline-block;
  }
  .p-home-contact__item-icon {
    margin-top: 20%;
    font-size: 1.75em;
    text-align: center;
  }
  /* フッター */
  .p-footer {
    width: 100%;
    height: 80px;
    background: #504e4e;
    text-align: center;
  }
  .p-footer__txt {
    font-family: "游ゴシック体", "YuGothic";
    font-size: 0.875em;
    color: #fff;
    line-height: 80px;
    letter-spacing: 0.1em;
  }
}
/*# sourceMappingURL=style.css.map */